body {
    font-family:"Open Sans";
    font-weight: bold;
    background-color: #d5d5d5;
}

a {
    margin:15px;
    color:black
}
a:hover {
    color:blue;
}
.img-wrap{
    position:relative;
    width: 95%;
    margin-bottom: 15px;
  }

.container {
    width: 1100px;
    margin-top:30px;
    margin-bottom: 10px;
}
.img-wrap > img {
    width: 100%;
}

.col {
    padding-right: 0px;
    padding-left: 0px;
}

.fa {
    font-size: large;
}

.overlay-small {
    position: absolute;
    border-top: 230px solid white;
    border-right:350px solid transparent;
    top:0;
    opacity:0;
}

.overlay-large {
    position: absolute;
    border-top: 525px solid white;
    border-right:350px solid transparent;
    top:0;
    opacity:0;
}

.img-wrap:hover > .overlay-small{
    opacity: 0.7;
  }

  .img-wrap:hover > .overlay-large {
    opacity: 0.7;
}

  .img-wrap:hover > .text{
    opacity: 1;
  }
  

  .text {
    position: absolute;
    top:0px;
    color: black;
    font-size: 15px;
    padding-top: 20px;
    padding-left:15px;
    opacity:0;
  }